html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width-device-width, initial-scale-1.0')
		meta(name='description', content='favicon.ico')
		title Reciepts
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='/assets/css/main.css')
		link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet')

	body.post
		div.card-wraper
			div.card
				div.header_card
					img(src='/assets/img/logo.gif').logo
					h1.title Reciepts Book
				div.menu.menu--top
					div.menu-cover
						img(src='/assets/img/logo.gif').logo-menu
						h1.title-menu Reciepts Book
				hr.devider(style='margin-top: 20px !important;')
				div.main_container
					div.user_container
						div.author-profile--page
							img(src="/assets/img/pic.jpeg" class="author-profile--avatar" alt="Profile of Myzin Sergei")
							h1.author-name
								a(href='/@Myzin.html', title="Profile of Myzin Sergei", aria-label="Profile of Myzin Sergei").author-name--link Myzin Sergei
							p.author-description Web-frontend (CSS3, HTML5, JS), Backend (Python, Ruby), IT-specialist 
								a http://localhost:8003/profile.html
							
						div.author-profile--information
							button.button-skills.--active(title='CSS3', arial-label='CSS3')
								span CSS3
							button.button-skills(title='HTML5', arial-label='HTML5')
								span HTML5
							button.button-skills(title='Python', arial-label='Python')
								span Python
							button.button-skills(title='Ruby', arial-label='Ruby')
								span Ruby
						hr.devider(style='margin-top: 20px !important;')
						div.skill-container
							//- div.round
							div.preloader
							div.spinners
								div.row
									div.spinner.spinner-bounce-bottom
							div.post-block
								p.post-block--header Assassin’s Creed: Unity
								img.post-block--img(src='https://level-design.ru/wp-content/uploads/2016/03/acu-1200x600.jpg')
								p.post-block--description Проводим глубокий анализ игры Assassin’s Creed: Unity (геймплей, механика и т.д.)
								p.post-block--date 09.04.2016
								a.post-block--link(href='/posts/assassins-creed-unity.html', title='Read the post', arial-label='Read the post') Read
							div.post-block
								p.post-block--header Assassin’s Creed: Unity
								img.post-block--img(src='https://level-design.ru/wp-content/uploads/2016/03/acu-1200x600.jpg')
								p.post-block--description Проводим глубокий анализ игры Assassin’s Creed: Unity (геймплей, механика и т.д.)
								p.post-block--date 09.04.2016
								a.post-block--link(href='/posts/assassins-creed-unity.html', title='Read the post', arial-label='Read the post') Read
							div.post-block
								p.post-block--header Assassin’s Creed: Unity
								img.post-block--img(src='https://level-design.ru/wp-content/uploads/2016/03/acu-1200x600.jpg')
								p.post-block--description Проводим глубокий анализ игры Assassin’s Creed: Unity (геймплей, механика и т.д.)
								p.post-block--date 09.04.2016
								a.post-block--link(href='/posts/assassins-creed-unity.html', title='Read the post', arial-label='Read the post') Read
							div.post-block
								p.post-block--header Assassin’s Creed: Unity
								img.post-block--img(src='https://level-design.ru/wp-content/uploads/2016/03/acu-1200x600.jpg')
								p.post-block--description Проводим глубокий анализ игры Assassin’s Creed: Unity (геймплей, механика и т.д.)
								p.post-block--date 09.04.2016
								a.post-block--link(href='/posts/assassins-creed-unity.html', title='Read the post', arial-label='Read the post') Read
							div.post-block
								p.post-block--header Assassin’s Creed: Unity
								img.post-block--img(src='https://level-design.ru/wp-content/uploads/2016/03/acu-1200x600.jpg')
								p.post-block--description Проводим глубокий анализ игры Assassin’s Creed: Unity (геймплей, механика и т.д.)
								p.post-block--date 09.04.2016
								a.post-block--link(href='/posts/assassins-creed-unity.html', title='Read the post', arial-label='Read the post') Read
							div.post-block
								p.post-block--header Assassin’s Creed: Unity
								img.post-block--img(src='https://level-design.ru/wp-content/uploads/2016/03/acu-1200x600.jpg')
								p.post-block--description Проводим глубокий анализ игры Assassin’s Creed: Unity (геймплей, механика и т.д.)
								p.post-block--date 09.04.2016
								a.post-block--link(href='/posts/assassins-creed-unity.html', title='Read the post', arial-label='Read the post') Read


						//- div.option_block
						//- 	p Text 1
						//- div.option_container
						//- 	p Text 2
						


				hr.post--point(data-symbol="∞")

		
		script(src='https://code.jquery.com/jquery-1.12.3.min.js')
		script(type='text/javascript', src='/assets/js/functions.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		script(src='/assets/js/jquery.cookie.js')