html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width-device-width, initial-scale-1.0')
		meta(name='description', content='favicon.ico')
		title Reciepts
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='/assets/css/main.css')
		script(src='https://code.jquery.com/jquery-1.12.3.min.js')
		script(type='text/javascript', src='/assets/js/functions.js')

	body.post
		div.card-wraper
			div.card
				div.header_card
					img(src='/assets/img/logo.gif').logo
					h1.title Reciepts Book
				div.menu.menu--top
					div.menu-cover
						img(src='/assets/img/logo.gif').logo-menu
						h1.title-menu Reciepts Book
				hr.devider(style='margin-top: 20px !important;')
				div.main_container
					div.user_container
						div.author-profile--page
							
							img(src="/assets/img/pic.jpeg" class="author-profile--avatar" alt="Profile of Myzin Sergei")
							span Myzin Sergei
							span.addition Ведущий специалист учёта личных финансов
							a http://localhost:8003/profile.html
						div.option_block
							p Text 1
						div.option_container
							p Text 2
						


				hr.post--point(data-symbol="∞")

		

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		script(src='/assets/js/jquery.cookie.js')