.page_name
  width: 260px
  color: #666
  font-family: 'Roboto', sans-serif
  font-weight: 300
  font-size: 36px
  letter-spacing: 1px
  line-height: 1.5
  margin-top: -30px
  padding-left: 33px  

.page_name:hover
  color: #aaa

.user_container
  display: block
  position: relative
  width: 100%
  height: auto
  clear: both
  vertical-align: middle
  text-align: center

.author-profile--page
  position: relative
  width: 100%
  height: auto
  padding: 0 10px
  text-align: left

.author-profile--avatar
  position: inherit
  display: inline-block
  width: 100px
  height: 100px
  border-radius: 100%
  vertical-align: middle
  float: right
  margin-right: 15px
  border: 2px solid #666

.author-name
  width: 70%
  position: inherit
  font-family: 'Roboto', sans-serif
  font-weight: 300
  font-size: 40px

.author-name .author-name--link
  color: #666
  &:hover
    color: #aaa
  &:active
    color: #999

.author-description
  width: 60%
  font-family: 'Roboto', sans-serif
  font-weight: 300
  font-size: 18px
  line-height: 1.3
  text-indent: 1rem
  padding-left: .5rem

// -----------------

.skills-preview
  width: 100%
  min-width: 320px
  padding: 0 10px

.skills-preview__list
  list-style: none
  text-align: left
  padding-left: 0
  & li
    display: block
    position: relative
    margin-bottom: 7px
    & i
      display: inline-block
      padding: 0 5px
    & span
      display: inline-block
      font-weight: 300
      font-size: 1.1rem 
    & .item-progress
      display: inline-block
      border: 1px solid black
      border-radius: 1.2rem
      width: calc(100% - 170px)
      margin-right: 7px
      min-width: 300px
      height: 20px
      vertical-align: middle
      & .progress
        position: inherit
        height: inherit
        border-top-left-radius: inherit
        border-bottom-left-radius: inherit
        background: repeating-linear-gradient(-50deg, #30A6C7, #30A6C7 10px, #47b8e0 10px, #47b8e0 20px)
        &[data-progress='html']
          width: 100%
          border-top-right-radius: inherit
          border-bottom-right-radius: inherit
        &[data-progress='css']
          width: 100%
          border-top-right-radius: inherit
          border-bottom-right-radius: inherit
        &[data-progress='js']
          width: 35%
        &[data-progress='python']
          width: 45%
        &[data-progress='ruby']
          width: 10%
        &[data-progress='ror']
          width: 5%

.item
  display: block
  margin-right: 5px
  width: 51px

.persent-prog
  position: absolute
  top: 5%
  z-index: 21
  font-weight: 400 !important
  left: 8rem

// -----------------

.button-skills
  color: #30A6C7
  margin: 0 5px 7px 0
  &:hover
    color: #26839D
  &:active
    color: #26839D
    border: 1px solid #26839D
  &:focus
    color: #26839D
    border: 1px solid #26839D

  &.--active
    background-color: #30A6C7
    color: $white
    border: 1px solid #26839D

.skill-container
  position: relative
  display: inline-block
  width: 100%
  height: auto
  min-height: 368px

.post-block
  position: inherit
  display: inline-block
  width: 300px
  height: 350px
  border-radius: 2%
  margin: 6px 0px 6px 8px
  border: 1px solid #FAFAFA
  background-color: #FAFAFA
  transition: all .2s ease;
  &:hover
    border: 1px solid #ddd
    transform: translate(3px, -5px)

.post-block--header
  font-family: 'Roboto', sans-serif
  font-weight: 300
  font-size: 22px
  text-align: center
  padding-top: 10px

.post-block--img
  width: 100%
  height: auto
  margin-bottom: 7px

.post-block--description
  font-family: 'Roboto', sans-serif
  font-weight: 300
  font-size: 18px
  padding: 20px 7px 15px 7px

.post-block--tags
  position: absolute
  display: block
  font-family: 'Roboto', sans-serif
  font-weight: 300
  font-size: 14px
  left: 7px
  bottom: 0px

.post-block--link
  position: absolute
  bottom: 5px
  right: 7px
  font-family: 'Roboto', sans-serif
  font-weight: 400
  line-height: 38px
  letter-spacing: .1rem
  text-transform: uppercase
  text-decoration: none
  white-space: nowrap
  font-size: 14px
  padding: 0 30px
  display: inline-block
  height: 38px
  background-color: transparent
  color: #30A6C7
  border-radius: 4px
  border: 1px solid #bbb
  cursor: pointer
  box-sizing: border-box
  &:hover
    background-color: #30A6C7
    border: 1px solid #26839D
    color: $white
  &:active
    background-color: #30A6C7
    border: 1px solid #26839D
    color: $silver

// --------

.preloader
  height: 100%
  width: 100%
  position: absolute
  padding: 5px
  background: #fff
  opacity: 0
  z-index: 999
  transition: 0.3s
  visibility: hidden

.loaded
  opacity: 1 !important
  visibility: visible !important
  




